body {
  margin: 0;
  @font-face {
  font-family: "Poppins";
  src: url("font-files/Poppins-Bold.ttf") format("ttf"),
       url("font-files/Poppins-Regular.ttf") format("ttf"),
       url("font-files/Poppins-SemiBold.ttf") format("ttf");
}
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}